name: C++ Build with Dependencies

on:
  push:
    branches:
      - master  # Replace with your main branch name

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Node.js environment
      uses: actions/setup-node@v3
      with:
        node-version: '14'  # You can adjust the Node.js version

    - name: Install ola + dependencies
      run: |
        sudo apt-get update
        sudo apt-get install \
          autoconf \
          automake \
          bison \
          flex \
          g++ \
          libavahi-client-dev \
          libcppunit-dev \
          libftdi-dev \
          liblo-dev \
          libmicrohttpd-dev \
          libncurses-dev \
          libprotobuf-dev \
          libprotoc-dev \
          libtool \
          libusb-1.0.0-dev \
          make \
          protobuf-compiler \
          pkg-config \
          uuid-dev \
          zlib1g-dev
        cd ola
        autoreconf -i
        ./configure --enable-rdm-tests
        make
        make check
        sudo make install
        sudo ldconfig

    - name: Build C++ executable
      run: |
        cd ..
        g++ -o main main.cpp $(pkg-config --cflags --libs libola)

    - name: Run C++ executable
      run: |
        ./main